#What is Python?

Python is a popular programming language. It was created by [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum), and released in 1991.

It is used for:

* web development (server-side)
* software development
* mathematics
* **machine learning**
* system scripting
* etc.

## What can Python do?

* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics alias **machine learning**
* Python can be used for rapid prototyping, or for production-ready software development.

## Why Python?

* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.

## Good to know

* The most recent major version of Python is Python 3 (3.10.12 here in **google colab**), which we will be using in this introduction and the further course. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
* You can check the python version with the following command:

```
!python --version
```


* In this intro Python will be written in a jupyter notebook alias **google colab**. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.

In [ ]:
!python --version

Python 3.10.12

##Python Syntax compared to other programming languages

* Python was designed for readability, and has some similarities to the English language with influence from mathematics.
* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.



---

# LetÂ´s get started

## Indentation
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python will give you an error if you skip the indentation:

In [ ]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: ignored

##Comments
Comments starts with a #, and Python will ignore them:

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

##Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

You can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

##User Input
Python allows for user input.

That means we are able to ask the user for input.

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:David
Username is: David

##Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

Get the character at position 1 (remember that the first character has the position 0):

In [ ]:
a = "Hello, World!"
print(a[1])

e

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

By leaving out the start index, the range will start at the first character:

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

By leaving out the end index, the range will go to the end:

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

##Boolean Values

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

##List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

### List Length
To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

###Access Items
List items are indexed and you can access them by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

###Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

###Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

###Change Item Value
To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

###Append Items
To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

###Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

###Remove Specified Item
The remove() method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

###Remove Specified Index
The pop() method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

###Loop Through a List
You can loop through the list items by using a for loop:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

###Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

###Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

##If ... Else

Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

###if statement

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

###elif statement
The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

###else statement
The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

##Loops

###while
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

###for
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

## Excercise
Create a Python script that asks for a series of user inputs representing random grocery items. The script should add these items to a list. Once the user decides to stop inputting items (user input="stop"), it should then iterate over the list, outputting each item.

In [ ]:
# initialize the list
grocery_items = []

while True:
    # get user input
    item = input("Enter a grocery item (type 'stop' to finish): ")

    # stop condition
    if item.lower() == 'stop':
        break

    # add the item to the list
    grocery_items.append(item)

# output each item
print("\nThe items in your list are: ")
for item in grocery_items:
    print(item)

Enter a grocery item (type 'stop' to finish): apple
Enter a grocery item (type 'stop' to finish): banana
Enter a grocery item (type 'stop' to finish): cherry
Enter a grocery item (type 'stop' to finish): stop

The items in your list are:
apple
banana
cherry

##Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

###Creating a Function
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

###Calling a Function
To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

###Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

###Keyword Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

###Return Values
To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## Excercise

Create a Python function named 'calculator' that takes three parameters: 'num1', 'operator', and 'num2'. This function works as a basic calculator performing addition, subtraction, multiplication, and division operations. The 'operator' parameter is a string representing the operation to be performed. If the operator is "+", the function returns the result of 'num1' plus 'num2'. If it is "-", it returns the difference of 'num1' and 'num2'. If "*", the function returns the multiplication of 'num1' and 'num2'. If "/", it checks if 'num1' is not equal to zero first, then returns 'num1' divided by 'num2' but if 'num1' equals zero, it will return an error message "Error: Division by zero.". If the 'operator' provided does not correspond to any of these options, it returns "Error: Invalid operator."

In [ ]:
def calculator(num1, operator, num2):
    if operator == "+":
        return num1 + num2
    elif operator == "-":
        return num1 - num2
    elif operator == "*":
        return num1 * num2
    elif operator == "/":
        if num1 != 0:
            return num1 / num1
        else:
            return "Error: Division by zero."
    else:
        return "Error: Invalid operator."

print(calculator(num1=5, operator="*", num2=2))

10